<pep-dialog [title]="'Events_Form_Title' | translate: {mode: incoming.Mode, field: item.Name}">
    <ng-container pep-dialog-content>
        <pep-generic-form   
            [dataSource]="item" 
            [dataView]="incoming.DataView" 
            (valueChange)="onValueChanged($event)" 
            (formValidationChange)="onFormValidation($event)"
            (fieldClick)="onFieldClick($event)"
        >
        </pep-generic-form>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">         
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'Cancel' | translate" 
                [styleType]="'weak'" 
                (buttonClick)="close()"
            ></pep-button>
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'Save' | translate" 
                [styleType]="'strong'" 
                (buttonClick)="save()"
                [disabled]="!isFormValid"
            ></pep-button>
        </div>
    </ng-container>
</pep-dialog>